.list-tables {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.list-tables .db-table {
  display: inline-block;
  width: 25%;
  text-align: left;
}

.filter-box {
  width: 100%;
  padding: 20px 0;
}

.table-filter {
  border: 2px solid darkgrey;
  padding: 10px 10px;
  width: 20%;
}

@media (max-width: 960px) and (min-width: 501px) {
  .list-tables .db-table,
  .table-filter {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .list-tables .db-table,
  .table-filter {
    width: 94%;
  }
}
